<!DOCTYPE html>
<html lang="en" ng-app="contactManager" ng-controller="AppCtl">
<head>
<meta charset="utf-8">
<!-- <base href="/">  solves error with $locationProvider in controller.js -->
<title>Contacts Manager</title>
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
    
<body>
    <!--
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
        <a class="navbar-brand" href="/">Contacts Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-toggle">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Browse</a></li>
                    <li><a href="#/add-contact">Add Contact</a></li>
                </ul>
           <form class="navbar-form navbar-right" role="search">
               <input type="text" class="form-control" placeholder="Search">
           </form>
        </div>
    </nav>
    -->
    <!-- container -->
<!--    <div class="container">
      <ng-view></ng-view>
    </div>  <!-- end of container -->
       <div class="page-header row">
            <h1><img src="http://placehold.it/50x50" class="img-circle">Declan Proud</h1>
       </div>
        <form class="form-horizontal">
        <div class="row">
            <div class="col-xs-6">
                 <div class="form-group">
                    <label for="name" class="col-sm-4 control-label">Name</label>
                     <div class="col-sm-8">
                       <p class="form-control-static">Declan Proud</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="phone" class="col-sm-4 control-label">Phone Number</label>
                     <div class="col-sm-8">
                        <p class="form-control-static">01234567890</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="address" class="col-sm-4 control-label">Adresss</label>
                     <div class="col-sm-8">
                        <p class="form-control-static">123, Some Street Leicester LE1 2AB United Kingdom</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                 <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Email</label>
                     <div class="col-sm-8">
                         <p class="form-control-static">declan@example.com</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website" class="col-sm-4 control-label">Website</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">http://declan.com</p>
                    </div>    
                </div>
                <div class="form-group">
                    <label for="notes" class="col-sm-4 control-label">Notes</label>
                    <div class="col-sm-8">
                        <textarea id="notes" class="form-control">Here are some notes about this contact.</textarea>
                         <span class="help-block">Any additional information about the contact.</span>
                     </div>  
                </div>
            </div>
        </div>
    
        
       
    
    
    <!-- Load js scripts -->
<script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../node_modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="../../contactmanager/js/controller.js"></script>
<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
